<ion-header>
  <ion-navbar color="dark">
    <ion-buttons end>
      <img
        alt="logo"
        style="float: right"
        height="25"
        src="assets/imgs/logoTr.png"
      />
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col size="12">
      <ion-spinner  *ngIf="loading" name="bubbles" ></ion-spinner>
    </ion-col>
  </ion-row>
  <div *ngIf="!showOtpComponent">
    <ion-row>
      <ion-col size="12">
        <p>Enter your email</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-input
          type="email"
          [(ngModel)]="email"
          placeholder="Email"
        ></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" text-center>
        <button
          (click)="validateEmail()"
          ion-button
          expand="block"
          fill="clear"
          shape="round"
        >
          Validate Email
        </button>
      </ion-col>
    </ion-row>
  </div>
  <!-- Enter OTP -->
  <div *ngIf="showOtpComponent">
    <ion-row>
      <ion-col size="12">
        <p> Enter OTP</p>
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col size="12" text-center>
      <ng-otp-input
      #ngOtpInput
        (onInputChange)="onOtpChange($event)"
        
        [config]="config"
        ></ng-otp-input>
      </ion-col>
    </ion-row>
  </div>
  <!-- Reset Password -->
  <div *ngIf="otpValid">
    <ion-row >
      <ion-col size="12">
        <ion-input
        [(ngModel)]="password"
        placeholder="Enter New Password"
        ></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" text-center>
        <button
        (click)="resetPassword()"
        ion-button
        expand="block"
        fill="clear"
        shape="round"
      >
      Change Password
      </button>
      </ion-col>
    </ion-row>
  </div>

  <ion-row>
    <ion-col offset-5 col-2>
      <p>(or)</p>
    </ion-col>
  </ion-row>

  <div *ngIf="!showMobileOtpComponent">
    <ion-row>
      <ion-col size="12">
        <p>Enter your mobile number</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <input type="text" 
        [(ngModel)]="mobileNumber"
        ng2TelInput 
        [readonly]='editMobileReadOnly'
        (hasError)="hasError($event)"
        (intlTelInputObject)="telInputObject($event)"
        (countryChange)="onCountryChange($event)"
        (ng2TelOutput)="getNumber($event)"
        [ng2TelInputOptions]="{initialCountry: 'ae',onlyCountries: ['ae','sa','eg','om','bh','qa','su','ca']}"
        />
      </ion-col>
    </ion-row>
    <ion-row>
    <ion-col text-center >
      <button expand="block"
      fill="clear"
      shape="round"  ion-button color="primary" type="button" (click)="validateMobile()" >
      Get OTP
    </button>
  </ion-col>
</ion-row>
  </div>
  <!-- Enter Mobile OTP -->
<div *ngIf="showMobileOtpComponent">
  <ion-row>
    <ion-col size="12">
      <p> Enter OTP</p>
  </ion-col>
</ion-row>
<ion-row >
  <ion-col size="12" text-center>
    <ng-otp-input
    #ngOtpInput
      (onInputChange)="onMobileOtpChange($event)"
      [config]="config"
      ></ng-otp-input>
    </ion-col>
  </ion-row>
</div>
<!-- Reset Password -->
<div *ngIf="otpMobileValid">
  <ion-row >
    <ion-col size="12">
      <ion-input
      [(ngModel)]="password"
      placeholder="Enter New Password"
      ></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" text-center>
      <button
      (click)="resetMobilePassword()"
      ion-button
      expand="block"
      fill="clear"
      shape="round"
    >
    Change Password
    </button>
    </ion-col>
  </ion-row>
</div>
</ion-content>
