page-credit {
    .label-md, .label-ios {
        margin: 16px 6px 14px 20px;
    }
    .page {
        background-color: #7277FE;
    }
    .item {
        border-radius: 10px;
        margin: 5px;
            
    }
}
